/* header */

.header-transparent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 15px 0px;
}


.main-menu ul li {
  display: inline-block;
  margin-left: 22px;
  position: relative;
}

.main-menu ul li .active {
  color: #ff0000;
}

.main-menu ul li  a {
  display: block;
  color: #fff;
  font-weight: 500;
  padding: 45px 0;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1.2;
}
.header-transparent-3 .sticky .main-menu ul li a {
color: var(--bg-theme-color2);
}
.header-transparent-3 .sticky .main-menu ul li .active,
.header-transparent-3 .main-menu ul li .active {
  color: #ff0000;
}


.header-transparent-3 .main-menu ul li a {
  color: #fff;
  padding: 24px 0;
}

 .logo img{
max-width: 130px;
}
.sticky .main-menu ul li .sub-menu li a,
.main-menu ul li .sub-menu li a {
  padding: 8px 0;
  color: var(--bg-theme-color2);
  
}

.main-menu ul li .sub-menu li {
  display: block;
  margin: 0;
}

.header-transparent-3 .main-menu ul li:hover>a {
  color: #ff0000;
}

.header-transparent-3 .main-menu ul li .active {
  color: #ff0000;
}

.main-menu ul li .sub-menu {
  position: absolute;
  top: 105%;
  left: 0;
  width: 245px;
  background: #ffffff;
  padding: 13px 18px;
  border-top: 4px solid #ff0000;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

.main-menu ul li .sub-menu::before {
  content: '';
  width: 17px;
  height: 9px;
  background-color: #ff0000;
  position: absolute;
  left: 20px;
  bottom: 100%;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}



.main-menu ul li:hover>.sub-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.header-btn {
margin-top: 20px;
margin-left: 35px;
}
.header-btn  .search-btn {
color: #fff;
}
.sticky .header-btn  .search-btn {
color: var(--bg-theme-color2);
}
@media only screen and (min-width: 576px) and (max-width: 992px), 
(max-width: 992px) {
.header-btn {
    display: none;
}
}
/* sidebar */

.info-toggle-btn.sidebar-toggle-btn {
  position: relative;
  top: 10px;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.side-menu-icon i {
  color: #ff0000;
  font-size: 32px;
  cursor: pointer;
  position: relative;
  top: -02px;
}

.sidebar__area {
  position: fixed;
  right: -485px;
  top: 0;
  width: 465px;
  max-width: 100%;
  height: 100%;
  background: #ffffff none repeat scroll 0 0;
  overflow-y: scroll;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 9999;
}

.sidebar__area.sidebar-opened {
  right: 0px;
}

.sidebar__wrapper {
  position: relative;
  padding: 25px;
  background: #ffffff;
}

.sidebar__close {
  position: absolute;
  top: 22px;
  right: 35px;
}

.sidebar__close-btn {
  display: inline-block;
  font-size: 16px;
  height: 45px;
  width: 45px;
  line-height: 40px;
  background: #ffffff;
  color: #121121;
  border-radius: 50%;
  border: 1px solid #eceff8;
  transition: 0.3s;
}

.sidebar__close-btn:hover {
  background: #ff0000;
  border-color: #ff0000;
  color: #ffffff;
}

.sidebar__logo {
  padding-bottom: 20px;
  border-bottom: 1px solid #eceff8;
}

.sidebar__search {
  position: relative;
}

.sidebar__search input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-right: 20px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #eceff8;
  font-size: 16px;
  color: #686893;
}

.sidebar__search button {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 14px;
  color: #686893;
  background: none;
  border: none;
}

.body-overlay.opened {
  opacity: 1;
  visibility: visible;
}

.body-overlay:hover {
  cursor: pointer;
}

.body-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}


.sidebar__contact h4 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #121121;
}

.sidebar__contact-icon i {
  display: inline-block;
  color: #121121;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #eceff8;
  transition: 0.5s;
}

.sidebar__social ul li:not(:last-child) {
  margin-right: 5px;
}

.sidebar__social ul li {
  display: inline-block;
}

.sidebar__social ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  background: #ff0000;
  color: #ffffff;
}

.sticky.menu-area {
  background: #fff;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  animation: sticky 2s;
  box-shadow: 0px 10px 25px 0px rgb(0 0 0 / 15%);
  z-index: 9999;
  -webkit-animation: sticky 2s;
  padding: 10px 0px;
}
.sticky.menu-area .logo img {
max-width: 100px;
}


@keyframes sticky {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-btn {
      margin-top: 0;
      margin-right: 40px;
  }
}

.fix {
  overflow: hidden;
}

@media (max-width: 991px) {
  .main-menu {
    display: none;
  }
}